:root {
    --color-bg-dark: #111;
    --color-bg-mid: #2A2A2A;
    --color-bg-light: #555;

    --color-accent-dark: rgb(30, 40, 45);
    --color-accent-mid: rgb(45, 60, 67);
    --color-accent-light: rgb(67, 90, 101);
    --color-accent-light2: rgb(101, 135, 152);

    --color-alert-mid: rgb(100, 60, 25);
    --color-alert-light: rgb(160, 100, 40);

    --color-alert-red-mid: rgb(133, 0, 33);
    --color-alert-red-light: rgb(200, 0, 50);

    --color-alert-green-mid: rgb(0, 133, 50);
    --color-alert-green-light: rgb(0, 200, 75);

    --color-alert-blue-mid: rgb(0, 50, 133);
    --color-alert-blue-light: rgb(0, 75, 200);

    --color-txt-light: #DDD;
    --color-txt-mid: #AAA;
    --color-txt-dark: #777;

    --color-lcd-light: #5AC;
}

@font-face {
    font-family: "Share Tech Mono";
    src: url("../font/ShareTechMono-Regular.ttf");
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--color-bg-dark)
}

/* Disable ion icon tooltips */
ion-icon {
    pointer-events :none;
}

/********************************
    Navbar Styling
********************************/

#navbar {
    width: 100%;
    height: 48px;
    background-color: var(--color-bg-mid);
}

#navbar button {
    height: 32px;
    width: 32px;
    padding: 3px;
    margin-top: 7px;
    --ggs: 0.8;
}

#navbar button ion-icon {
    font-size: 24px;
}

#navbar button:focus {
    border: none;
    box-shadow: none;
}

#navbar .button-active {
    color: #c6c8c8;
    text-shadow: 0 -1px rgb(0 0 0 / 69%);
    background-color: #3f4041;
    border: 1px solid #333434;
    box-shadow: inset 0 1px rgb(0 0 0 / 5%);
}

#navbar-logo {
    padding: 4px;
    margin-left: 8px;
    margin-top: 4px;
    color: var(--color-txt-light);
    font-size: 24px;
}

#navbar-version {
    color: var(--color-txt-mid);
    font-size: 12px;
    margin-top: 20px;
}

#navbar-clock {
    margin-right: 8px;
    margin-top: 8px;
    height: 32px;
    width: 192px;
    border-radius: 4px;
    background-color: #000;
    float:right;
}

#clock {
    font-family: "Share Tech Mono";
    color: var(--color-lcd-light);
    font-size: 28px;
    margin-left: 4px;
    margin-top: 1px;
}

.navbar-item {
    float:left;
    height: 100%;
    padding-left: 8px;
    color: var(--color-txt-light);
}

.navbar-clear {
    clear:both;
}

/********************************
    Main Body Styling
********************************/

#body {
    position: absolute;
    width: 100%;
    height: calc(100% - (48px + 64px));
}

#text-placeholder {
    position: fixed;
    top: 256px;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}

#text-placeholder h2 {
    color: var(--color-txt-mid);
    padding: 0;
    margin: 0;
}

/********************************
    Side Menu Styling
********************************/

.sidebar {
    position: fixed;
    top: 48px;
    left: 0;
    width: 256px;
    transition: all 0.25s ease;
    background-color: var(--color-accent-mid);
    z-index: 3;
}

.sidebar-closed {
    left: -256px;
}

.sidebar-item {
    margin-left: 12px;
}

.sidebar ul {
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar ul li a {
    display: inline-flex;
    align-items: center;
    width: 224px;
    padding: 12px 16px;
    border-bottom: 1px solid var(--color-accent-light);
    color: var(--color-txt-light);
    font-size: 20px;
    position: relative;
    text-decoration: none;
    --ggs: 0.8;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: var(--color-accent-dark);
}

.sidebar ul li a:hover:before,
.sidebar ul li a.active:before {
    display: block;
}

#main-layout {
    width: 100%;
    height: 100%;
}

/********************************
    Radio Card Styling
********************************/

.radio-card {
    display: inline-block;
    margin-left: 16px;
    margin-top: 20px;
    width: calc(25% - 28px);
    max-width: 320px;
    border-radius: 6px;
    border: 2px solid transparent;
}

.radio-card.selected {
    border: 2px solid var(--color-txt-dark);
    border-radius: 8px;
}

.radio-card.receiving {
    -webkit-animation: rxBorderBlink 0.4s ease-out infinite;
    animation: rxBorderBlink 0.4s ease-out infinite;
}

.radio-card.transmitting {
    -webkit-animation: txBorderBlink 0.2s ease infinite;
    animation: txBorderBlink 0.2s ease infinite;
}

.radio-card.disconnected {
    opacity: 50%;
}

.radio-card .header {
    width: 100%;
    height: 28px;
    background-color: var(--color-accent-mid);
    border-radius: 6px 6px 0 0;
    color: var(--color-txt-light);
    padding: 4px;
    box-sizing: border-box;
    display: inline-flex;
    font-size: 18px;
}

.radio-card .header h2 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    display: inline;
    margin-left: 4px;
    font-size: inherit;
}

.radio-card .icon-stack {
    height: 100%;
    margin-left: auto;
    margin-right: 4px;
    font-size: 20px;
}

.icon-stack ion-icon {
    color: var(--color-txt-light);
}

.icon-stack #icon-alert {
    color: var(--color-accent-dark);
}

.icon-stack ion-icon.alerting {
    -webkit-animation: iconAlertRed 0.7s ease infinite;
    animation: iconAlertRed 0.7s ease infinite;
}

.radio-card a {
    text-decoration: none;
    color: var(--color-accent-light2);
}

.radio-card .content {
    width: 100%;
    height: 128px;
    background-color: var(--color-bg-mid);
    padding: 8px;
    box-sizing: border-box;
}

.radio-card .content h3 {
    font-size: 12px !important;
    color: var(--color-txt-dark);
    padding: 0;
    margin: 0;
    font-weight: normal;
    display: inline;
    font-size: inherit;
}

.radio-card .value-frame {
    color: var(--color-lcd-light);
    font-family: "Share Tech Mono";
    font-size: 22px;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    padding-left: 4px;
    box-sizing: border-box;
}

.radio-card .footer {
    width: 100%;
    height: 4px;
    margin-bottom: 0;
    background-color: var(--color-accent-mid);
    border-radius: 0 0 6px 6px;
}

/********************************
    Bottom Control Bar Styling
********************************/

#controlbar {
    position: absolute;
    bottom: 0;
    height: 72px;
    width: 100%;
    background-color: var(--color-bg-mid);
    display: flex;
}

#radio-controls {
    margin-left: auto;
    margin-right: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#radio-controls button {
    height: 48px;
    width: 48px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 22px;
}

#radio-controls button span {
    margin: 0;
    padding: 0;
    line-height: normal;
    font-weight: bolder;
}

#radio-controls .button-active {
    color: var(--color-lcd-light);
    text-shadow: 0 -1px rgb(0 0 0 / 69%);
    background-color: #3f4041;
    border: 1px solid #333434;
    box-shadow: inset 0 1px rgb(0 0 0 / 5%);
}

#radio-controls .button-active:hover {
    background-color: rgb(70, 70, 70);
}

#radio-controls .lcd {
    height: 47px;
    width: 256px;
    background-color: black;
    color: var(--color-lcd-light);
    border-radius: 6px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 4px;
    box-sizing: border-box;
}

#selected-zone-text,
#selected-chan-text {
    color: var(--color-lcd-light);
    font-family: "Share Tech Mono"; 
    margin-left: 2px;
}

#selected-zone-text {
    font-size: 12px;
}

#selected-chan-text {
    font-size: 26px;
}

/********************************
    Popup Window Styling
********************************/

#body-dimmer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: black;
    opacity: 30%;
}

.popup {
    position: fixed;
    width: 480px;
    top: 128px;
    left: 0;
    right: 0;
    margin: 5% auto;
    z-index: 5;
    border-radius: 6px;
}

.popup-header {
    height: 32px;
    width: 100%;
    background-color: var(--color-accent-mid);
    border-radius: 6px 6px 0 0;
    color: var(--color-txt-light);
    padding: 4px;
    box-sizing: border-box;
    display: inline-flex;
}

.popup-header h2 {
    padding: 0;
    margin: 0;
    font-weight: normal;
    display: inline;
    margin-left: 4px;
    font-size: 20px;
}

.popup-header a {
    text-decoration: none;
    color: var(--color-txt-mid);
    font-size: 23px;
}

.popup-buttons {
    height: 100%;
    margin-left: auto;
    margin-right: 4px;
}

.popup-buttons-bottom {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.popup-content {
    padding: 16px;
    box-sizing: border-box;
    background-color: var(--color-bg-mid);
    border-radius: 0 0 6px 6px;
}

.popup-table {
    width: 100%;
}

.popup-table td {
    padding: 4px 8px;
}

.popup-table input {
    line-height: 2.5rem;
}

.popup-table input[type='text'] {
    width: 100%;
}

.popup-table input.invalid {
    border: 1px solid #ec514e;
}

.popup-content h3 {
    margin: 0;
    padding: 0;
    color: var(--color-txt-light);
    font-weight: normal;
    text-align: right;
}

/********************************
    Animations
********************************/

/* Animation for radio card RX state */
@-webkit-keyframes rxBorderBlink {
    from, to {
        border: 2px solid transparent;
        border-radius: 8px;
    }
    75% {
        border: 2px solid var(--color-alert-green-light);
        border-radius: 8px;
    }
}
@keyframes rxBorderBlink {
    from, to {
        border: 2px solid transparent;
        border-radius: 8px;
    }
    75% {
        border: 2px solid var(--color-alert-green-light);
        border-radius: 8px;
    }
}

/* Animation for radio card TX state */
@-webkit-keyframes txBorderBlink {
    from, to {
        border: 2px solid var(--color-alert-red-mid);
        border-radius: 8px;
    }
    75% {
        border: 2px solid var(--color-alert-red-light);
        border-radius: 8px;
    }
}
@keyframes txBorderBlink {
    from, to {
        border: 2px solid var(--color-alert-red-mid);
        border-radius: 8px;
    }
    75% {
        border: 2px solid var(--color-alert-red-light);
        border-radius: 8px;
    }
}

/* Animation for icon flashing red */
@-webkit-keyframes iconAlertRed {
    from, to {
        color: var(--color-accent-dark);
    }
    50% {
        color: var(--color-alert-red-light);
    }
}
@keyframes iconAlertRed {
    from, to {
        color: var(--color-accent-dark);
    }
    50% {
        color: var(--color-alert-red-light);
    }
}